body {
    background: white;
}

.show-label {
    /* 
        show more/show less label is hidden by default.
        logic for showing the label is handled within
        individual widget styles
    */
    display: none;
    visibility: hidden;
}

.show-input {
    display: none;

    & ~ label::after {
        color: black;
        cursor: pointer;
    }

    /*
        logic for changing the show more/show less text
        based on the input :checked state
    */
    &:not(:checked) ~ label::after {
        content: "Show more";
    }

    &:checked ~ label::after {
        content: "Show less";
    }
}

.todo-widget {
    & ol {
        list-style: none;
        padding: 0;

        /* hide elements after first 10 by default  */
        & li:nth-of-type(n+11) {
            display: none;
        }

        /*
            hide the show button by default and
            only show if there exists an 11th
            element before it
        */
        & li:nth-of-type(11) ~ .show-label {
            display: block;
            visibility: visible;
        }

        & .show-input {
            /* 
                If the show-more input is checked,
                the 11th+ li elements can be shown  
            */
            &:checked {
                & ~ li:nth-of-type(n+11){
                    display: block;
                }
            }
        }
    }
}

.text-widget {
    margin-bottom: 16px;
    font-size: 1rem;
    width: 200px;
    position: relative;
    height: auto; 
    overflow-y: hidden;

    & .text-container {
        /* 
            note that the `lh` unit is only supported on
            the latest version of firefox (and not at all on IE).
            a workaround for this would be setting the line height
            manually and setting the height accordingly. This is 
            shiny and new though :)
        */
        max-height: 10lh;
        overflow-y: hidden;
        z-index: 3;
        position: relative;
    }

    & .show-input:checked + .text-container {
        max-height: 100%;
        height: auto;
    }

    & .show-label {
        display: block;
        visibility: visible;
        z-index: 1;
        height: 1rem;
    }

    /* 
        some unfortunate hacks to hide the
        show more/less label when smaller than
        10 * line height. my kingdom for working
        container queries
    */
    & .hider {
        position: absolute;
        top: 0;
        height: 10lh;
        width: 100%;
        background-color: white;
        z-index: 2;
    }

}