.todo-widget {
    & ol {
        list-style: none;
        /* hide elements after first 10 by default  */
        & li:nth-of-type(n+11) {
            display: none;
        }

        & .show-label {
            display: none;
            visibility: hidden;
        }

        & li:nth-of-type(11) ~ .show-label {
            display: block;
            visibility: visible;
        }

        & #show-more {
            display: none;

            /* 
                If the show-more input is checked,
                the 11th+ li elements can be shown  
            */
            &:checked {
                & ~ li:nth-of-type(n+11){
                    display: block;
                }
            }



            & ~ label::after {
                color: black;
                cursor: pointer;
            }

            /*
                logic for changing the show more/show less text
                based on the input :checked state
            */
            &:not(:checked) ~ label::after {
                content: "Show more";
            }

            &:checked ~ label::after {
                content: "Show less";
            }
        }
    }
}